name: build and run docker container

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        node-version: [18.x]    
    steps:
        - name: get repo
          uses: actions/checkout@v3
        - name: init repo
          #working-directory: /home/almas/js-kofd  
          run: |
            cd /home/almas/js-kofd
            git pull
            npx prisma migrate deploy
            npm install
          
  
